// Resets, clearfix
@import "sass/partials/_reset.scss";
@import "sass/partials/_clearfix.scss";
@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

// media query ranges
$small: "only screen and (min-width: 200px) and (max-width: 500px)";
$medium: "only screen and (min-width: 501px) and (max-width: 750px)";
$large: "only screen and (min-width: 1000px)";

// Mixins
@mixin small {
  @media #{$small} {
    @content;
  }
}
@mixin medium {
  @media #{$medium} {
    @content;
  }
}
@mixin large {
  @media #{$large} {
    @content;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: white;
  // background: linear-gradient(to bottom, #36200b, saddlebrown);
  // overflow: hidden;
}

.navbar-default {
  margin: 0 auto;
  z-index: 500;
  background: linear-gradient(to bottom, #36200b, saddlebrown)
}

.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: #a17f1a;
}

.welcomeImage {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  object-fit: cover;
}

.pickACigar {
  text-align: center;
  width: 50vw;
  position: absolute;
  top:30%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
}
.welcomeText {
  text-shadow: 2px 2px black;
  color: white;
  font-size: 3em;
  margin-bottom: 10px;
}

.searchByBrand {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Search results */
.container { margin-top: 20px; }
.mb20 { margin-bottom: 20px; }

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 5010 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: white; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: white; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: gray !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; }
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }