doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Results
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans", rel="stylesheet")
    link(rel = 'stylesheet', href = '/css/index.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
        //- Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/')
                | Home
                span.sr-only (current)
            li
              a(href='/about.html') About

    .container
      - var cigarListLength = cigarList.length;
      hgroup.mb20
        h1 Search Results
        h2.lead
          strong.text-danger #{cigarListLength}
          |  results were found for the search for
          strong.text-danger &nbsp; #{cigarBrand}
        h2.fromUrl from &nbsp;
          a(href="http://www.atlanticcigar.com/cigars/" + cigarBrand.toLowerCase() + ".asp") Atlantic Cigars
        each val in cigarList
          h2.cigarName #{val.name}
          .cigarDetails #{val.details}