/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: white;
  overflow: hidden; }

.navbar-default {
  margin: 0 auto;
  z-index: 500;
  background: linear-gradient(to bottom, #36200b, saddlebrown); }

.navbar-default .navbar-nav > li > a {
  color: white; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: #a17f1a; }

.welcomeImage {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  object-fit: cover; }

.pickACigar {
  text-align: center;
  width: 50vw;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px; }

.welcomeText {
  text-shadow: 2px 2px black;
  color: white;
  font-size: 3em;
  margin-bottom: 10px; }

.searchByBrand {
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

/* Search results */
.container {
  margin-top: 20px; }

.mb20 {
  margin-bottom: 20px; }

hgroup {
  padding-left: 15px;
  border-bottom: 1px solid #ccc; }

hgroup h1 {
  font: 5010 normal 1.625em "Roboto",Arial,Verdana,sans-serif;
  color: white;
  margin-top: 0;
  line-height: 1.15; }

hgroup h2.lead {
  font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif;
  color: white;
  margin: 0;
  padding-bottom: 10px; }

.search-result .thumbnail {
  border-radius: 0 !important; }

.search-result:first-child {
  margin-top: 0 !important; }

.search-result {
  margin-top: 20px; }

.search-result .col-md-2 {
  border-right: 1px dotted #ccc;
  min-height: 140px; }

.search-result ul {
  padding-left: 0 !important;
  list-style: none; }

.search-result ul li {
  font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;
  line-height: 30px; }

.search-result ul li i {
  padding-right: 5px; }

.search-result .col-md-7 {
  position: relative; }

.search-result h3 {
  font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif;
  margin-top: 0 !important;
  margin-bottom: 10px !important; }

.search-result h3 > a, .search-result i {
  color: gray !important; }

.search-result p {
  font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; }

.search-result span.plus {
  position: absolute;
  right: 0;
  top: 126px; }

.search-result span.plus a {
  background-color: #248dc1;
  padding: 5px 5px 3px 5px; }

.search-result span.plus a:hover {
  background-color: #414141; }

.search-result span.plus a i {
  color: #fff !important; }

.search-result span.border {
  display: block;
  width: 97%;
  margin: 0 15px;
  border-bottom: 1px dotted #ccc; }
